@font-face {
    font-family: 'norsebold';
    src: url('./resources/norse-bold.woff2') format('woff2'),
         url('./resources/norse-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.left-column {
    font-family: 'norsebold';
    color: white;
    background-image: url(./resources/background.jpg);
    background-size: cover;
    width: 40vw;
    position: relative;
    flex-grow: 1;
}

.left-column img {
    height: 150px;
    width: 100px;
}

.left-column div {
    position: relative;
    top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.section-one {
    background-color: rgb(242, 245, 244);
    padding-left: 40px;
    padding-top: 150px;
    box-sizing: border-box;
    height: 35vh;
}

.section-one p {
    width: 75%;
    margin-bottom: 20px;
    font-size: 24px;
}

.section-two {
    height: 30vh;
    padding: 30px;
}

.section-two p {
    margin-bottom: 20px;
}

.section-three {
    background-color: rgb(242, 245, 244);
    height: 35vh;
    padding: 40px;
}

ul {
    list-style: none;
}

button {
    background-color: #596D48;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

